@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap");

/* RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

/* PAGE BACKGROUND – LIGHT GREEN BIO THEME */
.auth-container {
  min-height: 100vh;
  background: linear-gradient(135deg, #2af187, #2af187);
  display: flex;
  justify-content: center;
  align-items: center;
}

/* CARD */
.auth-card {
  width: 380px;
  padding: 40px;
  border-radius: 20px;
  background: rgba(255, 255, 255, 0.75);
  backdrop-filter: blur(10px);
  box-shadow: 0 20px 40px rgba(0, 0, 0, 0.15);
  text-align: center;
}

/* TITLE */
.title {
  font-size: 32px;
  font-weight: 700;
  color: #2f855a;
  margin-bottom: 6px;
}

/* SUBTITLE */
.subtitle {
  font-size: 14px;
  color: #2af187;
  margin-bottom: 28px;
}

/* INPUT GROUP */
.input-group {
  position: relative;
  margin-bottom: 20px;
}

.input-group input {
  width: 100%;
  padding: 12px;
  border-radius: 10px;
  border: 1px solid #2af187;
  outline: none;
  font-size: 14px;
  background: #f6fffb;
}

.input-group input:focus {
  border-color: #2af187;
  box-shadow: 0 0 0 2px rgba(56, 161, 105, 0.2);
}

/* BUTTON */
.auth-btn {
  width: 100%;
  padding: 12px;
  border-radius: 25px;
  border: none;
  background: linear-gradient(135deg, #2af187, #2af187);
  color: white;
  font-weight: 600;
  cursor: pointer;
  margin-top: 10px;
  transition: all 0.3s ease;
}

.auth-btn:hover {
  transform: translateY(-2px);
  box-shadow: 0 12px 25px rgba(56, 161, 105, 0.35);
}

/* SWITCH TEXT */
.switch-text {
  margin-top: 18px;
  font-size: 13px;
  color: #2f855a;
}

.switch-text span {
  color: #22543d;
  font-weight: 600;
  cursor: pointer;
}

.switch-text span:hover {
  text-decoration: underline;
}

/* ERROR */
.error {
  color: #c53030;
  font-size: 13px;
  margin-top: 10px;
}
